.text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3rem;
    font-weight: bold;
    font-size: x-large;

}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;


}

.col {
    width: 200px;
    /* Imposta una larghezza fissa per ogni colonna */
}

.container {
    width: 90%;
    /* Larghezza del container principale, potresti volere un max-width */
    margin: 0 auto;
    /* Centra il container */
    padding: 20px 0;

    .current-series-btn {
        background-color: #0282f9;
        margin: 20px auto;

    }
}

.main-section {
    background-color: black;
    min-height: 150px;
    padding: 20px 0;
    /*padding per distanziare le card dai bordi */
}

.load-more-btn {
    background-color: #0282f9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 40px auto;

}