.card {
    display: flex;
    flex-direction: column;
    /* Imposta la direzione dei figli in colonna */
    text-align: center;

}

.card img {
    width: 200px;
    height: 200px;
    display: block;


}

.card span {
    display: block;
    padding: 10px 5px;
    text-transform: uppercase;
    color: white;
    text-align: center;

}

/* .col {
    width: calc(100% / 6 - 20px);
    /* Regola la larghezza in base al numero di colonne che vuoi */
/* } */