main {
    background-color: black;
    min-height: 150px;
}

/* .text {
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 3rem;
    font-weight: bold;
    font-size: x-large;

} */

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.col {
    width: 200px;
    /* Imposta una larghezza fissa per ogni colonna */
}